!!! 5
html
  head
    title Wings
    link(rel='stylesheet', href='/assets/css/game.css')
    script(src='/gyro.js/js/gyro.js')
    script(src='/assets/js/phaser.min.js')
    script(src='/assets/js/game.js')
  body
