!!! 5
html
  head
    title Wings
    meta(name="viewport", content="initial-scale=1")
    link(rel='stylesheet', href='assets/css/game.css')
    script(src='cordova.js')
    script(src='assets/js/gyro.js')
    script(src='assets/js/phaser.js')
    script(src='assets/js/game.js')
  body)
